@font-face {
    font-family: "Queen of Clubs";
    src: url('#{resource["fonts/queenOfClubs.otf"]}');
}

#imgJogo {
    display: block;
    max-width:268px;
    max-height:268px;
    width: auto;
    height: auto;
}

#imgPerfil {
    display: block;
    max-width:170px;
    max-height:170px;
    width: auto;
    height: auto;
    border: 2px solid #212121;
    border-radius: 4px;
}

#footer{
    height: 80px; 
    background-color: #212121; 
    text-align: center; 
    border-radius: 3px;
    margin-left: 8%;
    margin-right: 8%;
}

#footer a{
    color: #FFD700;
    font-size: 50px;
    font-family: "Queen of Clubs";
    padding-left: 70px;
    padding-right: 70px;
}

#header li{
    font-family: "Queen of Clubs";
    font-size: 25px;
}

#login{
    font-family: "Queen of Clubs";
    font-size: 30px;
}

#login a{
    color: black;
    text-decoration: underline !important;
}

a{
    text-decoration: none;
}

.bemVindo{
    font-family: "Queen of Clubs";
    font-size: 30px;
}

#boasVindas{
    background-color: #FFDF00;
    border-radius: 1px;
    font-family: "Queen of Clubs";
    font-size: 30px;
    width: 100%;
    height: 300px;
}

#texto{
    text-align: center;
}

#fotos img{
    padding-left: 70px;
    padding-right: 70px;
}
