@font-face {
    font-family: "Queen of Clubs";
    src: url('#{resource["fonts/queenOfClubs.otf"]}');
}

#imgJogo {
    display: block;
    max-width:268px;
    max-height:268px;
    width: auto;
    height: auto;
}

#imgPerfil {
    display: block;
    max-width:170px;
    max-height:170px;
    width: auto;
    height: auto;
    border: 2px solid #212121;
    border-radius: 4px;
}

#footer{
    height: 80px; 
    background-color: #212121; 
    text-align: center; 
    border-radius: 3px;
    margin-left: 8%;
    margin-right: 8%;
}

#footer a{
    color: #FFD700;
    font-size: 50px;
    font-family: "Queen of Clubs";
    padding-left: 70px;
    padding-right: 70px;
}

#header li{
    font-family: "Queen of Clubs";
    font-size: 25px;
}

#login{
    font-family: "Queen of Clubs";
    font-size: 30px;
}

#login a{
    color: black;
    text-decoration: underline !important;
}

a{
    text-decoration: none;
}

.bemVindo{
    font-family: "Queen of Clubs";
    font-size: 30px;
}

#boasVindas{
    background-color: #FFDF00;
    border-radius: 1px;
    font-family: "Queen of Clubs";
    font-size: 30px;
    width: 100%;
    height: 500px;
}

#texto{
    text-align: center;
}

#fotos img{
    padding-left: 70px;
    padding-right: 70px;
}

.autoCompleteCidade input{
    width: 278px;
}

.imgCatalogo {
    display: block;
    max-width: 160px;
    max-height: 160px;
    width: auto;
    height: auto;
    float: left;
    margin-right: 7px;
}

.catalogoContainer{
    width: 100%;
    margin: auto;
}

.esquerda{
    width: 48%;
    height: 170px;
    float: left;
}

.direita{
    margin-left: 50%;
    height: 170px;
}

.esquerda, .direita{
    padding: 5px;
    border-radius: 3px;
}

.esquerda label, .direita label{
    margin-left: 5px;
}

.esquerda:hover, .direita:hover{
    background: #2c3e50;
    transition: 0.5s;
}

.esquerda:hover label, .direita:hover label{
    color: white;
}

.buttonIndex{
    background: #212121 !important;
    border: #212121 !important;
}

.buttonIndex:hover{
    background: #212121 !important;
    border: #212121 !important;
    font-size: 1.05em;
    transition: 0.2s;
}

